.contactDetails__section {
    padding-top: 70px;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(to right, #333333, #dd1818); 
    background: linear-gradient(to right, #333333, #dd1818); 
     /* background: #000000; */
}

.container__details {
    position: relative !important;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
} 

.contact__info {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    z-index: 1;
    padding: 40px;
    /* display: flex; */
    justify-content: space-between;
    /* background: #2d2925ff; */
    background: -webkit-linear-gradient(to right, #2d2925ff, #e94b3cff); 
    background: linear-gradient(to right, #2d2925ff,#e94b3cff);
}

.contact__info > h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.info {
position: relative;
margin: 40px 0;
}

.info li {
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}

.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
    
}

.info li span:nth-child(2) {
    color: #ffffff;
    margin-left: 10px;
    font-weight: 300;
    /* opacity: 0.5; */
}

.contactForm {
    position: absolute;
    padding-left: 250px;
    background: #fff;
    width: calc(100% - 150px);
    margin-left: 150px;
    height: 100%;
}

.contactForm  h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    text-transform: uppercase;
}

.formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.w50 {
 width: 47%;
}

.w100 {
    width: 100%;
}

.inputBox input , textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
}

.inputBox textarea {
    min-height: 120px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300 ;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:focus ~ span , textarea:focus ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.inputBox button {
    position: relative;
    cursor: pointer;
    width: 150px;
    max-width: 150px;
    padding: 12px;
    color: #ffffff;
    /* background: #000000; */
    background: -webkit-linear-gradient(to right, #2d2925ff, #e94b3cff); 
    background: linear-gradient(to right, #2d2925ff,#e94b3cff);


}